{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>Okojie Michael Osemudiamen | Backend Developer, Director | michaelokojie1@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Okojie Michael Osemudiamen</h1>
					<h2>Backend Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:michaelokojie1@gmail.com">michaelokojie1@gmail.com</a></h3>
						<h3>+2347039831086</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively build website and web apps for commercial use and also build to improve skills and expand knowledge. Critical thinker and adequate problem solver.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Team Player</h2>
									<p>Topnotch efficiency in group of teams and active partaker </p>
								</div>

								<div class="talent">
									<h2>Problem Solver</h2>
									<p>Proven ability to solve critical and minor problems adequately and efficiently</p>
								</div>

                                <div class="talent">
									<h2>Critical Thinker</h2>
									<p>Ability to think outside the box and approach problems with a better and more sophisticated approach</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML5</li>
								<li>CSS</li>
                                <li>Python</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Django</li>
								<li>PHP</li>
								<li class="last">nodejs</li>
							</ul>

							<ul class="talent">
								<li>Windows 10</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Free Foods</h2>
								<h3>Junior Web devloper</h3>
								<h4>2019 - 2020</h4>
								<p>Actively involved in the building and  </p>
							</div>

							<div class="job">
								<h2>Apple Inc.</h2>
								<h3>Senior Interface Designer</h3>
								<h4>2005-2007</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>

							<div class="job last">
								<h2></h2>
								<h3>Lead Web Designer</h3>
								<h4>2001-2004</h4>
								<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Federal University of Technology Akure, Ondo State, Nigeria.</h2>
							<h3>Major in Software Engineering &mdash; <strong>4.5 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Okojie Michael Osemudiamen &mdash; <a href="mailto:michaelokojie1@gmail.com">michaelokojie1@gmail.com</a> &mdash; +2437039831086</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
